---
import data from '../data/data.json';
---

{
	data.map((item) => (
		<div class="ml-8 h-72 w-60 flex-none rounded-lg shadow-lg" id={item.id}>
			<div class="h-3/5">
				<img src={item.src} alt={item.name} class="size-full overflow-hidden rounded-t-lg" />
			</div>
			<div class={`h-2/5 rounded-b-lg ${item.background} ${item.text}`}>
				<p class="pl-4 pt-2 text-xl font-semibold">{item.name}</p>
				<p class="pl-4 pt-2 text-sm font-medium">{item.description}</p>
			</div>
		</div>
	))
}
